Supervisor AI Agent.json
{
  "name": "Supervisor AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "5d7d014f-a5e9-4726-b8b9-f2ff3152bac4",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        128
      ],
      "webhookId": "667892ca-ca20-42ab-a97f-a70b01aa2887",
      "credentials": {
        "telegramApi": {
          "id": "gAtrDtPlUxH1YpRl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Supervisor AI Assistant connected to the following tools: Google Sheets Contacts Database Gmail Google Calendar Research Agent Telegram Send Message Your job is to analyze the user's request, choose the correct tool, perform the action, and send the final result to Telegram. Step 1 Contact Lookup Always start by checking the Google Sheets Contacts Database. Search the sheet if the user provides: Name Email Phone Number Company Name If a match is found retrieve and use the stored contact details. If no match is found continue using the information provided by the user. Step 2 Email Action If the user asks to send an email use Gmail. Email Subject Appointment Request Email Body Hello I would like to schedule a meeting with you. Please let me know if you are available. Best regards. After sending the email send a Telegram message confirming the action. Step 3 Appointment Scheduling If the user requests a meeting today tomorrow or at a specific time do the following. Send a confirmation email using Gmail. Create a Google Calendar event. Calendar Event Details Title Meeting Appointment Date based on user request Time based on user request Attendees contact email from Google Sheets if available After completing both actions send a Telegram message summarizing the result. Step 4 Research Questions If the user asks informational or research questions use the Research Agent. Return a clear and concise answer. Then send the summary of the result to Telegram. Step 5 Default Behavior If the request does not match email appointment calendar or contact lookup use the Research Agent. Step 6 Telegram Notification After completing any action always send the final result or summary to Telegram."
        }
      },
      "id": "526b5df3-d319-4e0d-b10f-fd050e82f7b6",
      "name": "Supervisor AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        -64
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "7555878c-ccf1-4dca-93a6-58fdf8f66880",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -64
      ],
      "webhookId": "f1bb95f3-2a96-4daf-a6ef-b774319b5a68",
      "credentials": {
        "telegramApi": {
          "id": "gAtrDtPlUxH1YpRl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "eddce9e3-e6e9-4a6a-be6c-79dbbae32733",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        128,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "f671e7bc-58d1-4322-b601-6cfc283c87a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pBZv1S6JzPwxPiPp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "Research_Agent",
        "description": "Call this tool to search the internet and answer the user's questions.",
        "source": "parameter"
      },
      "id": "dc57bfe1-f4c4-4234-b5f2-f94c6963a70f",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        752,
        864
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        448
      ],
      "id": "9c2ae233-947a-4159-a00b-0a5b5325c3c1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pBZv1S6JzPwxPiPp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "Call this model to search the internet and answer the user's questions.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        480,
        304
      ],
      "id": "cac0f3e3-c5df-4135-b6df-4e58fb004b68",
      "name": "RESEARCH AGENT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b06acbc-8ec3-43f6-9286-709f2ca80045",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3d8ea22e-48d1-4978-805d-3e1b78023fef",
      "name": "TAKE MESSAGE HERE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -64
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        240,
        368
      ],
      "id": "78924619-f479-46ca-bca3-bb4f8d892854",
      "name": "SEND A GMAIL TO PARTICULAR PERSON",
      "webhookId": "0bd0c069-7c2f-4328-9a0c-bbe0c419e46d",
      "credentials": {
        "gmailOAuth2": {
          "id": "SZiK5tqW5gwfvvAQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tNS08sbYVF3_0EW5XnLTgC4RJD6mAcHhfRdjdu_WZEU",
          "mode": "list",
          "cachedResultName": " Eco Woodies Customer Care & Follow-up System!",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tNS08sbYVF3_0EW5XnLTgC4RJD6mAcHhfRdjdu_WZEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1298161266,
          "mode": "list",
          "cachedResultName": "Supervisor_AI_Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tNS08sbYVF3_0EW5XnLTgC4RJD6mAcHhfRdjdu_WZEU/edit#gid=1298161266"
        },
        "options": {}
      },
      "id": "8c1c785c-9c1e-450d-b38b-cefc8f1247a3",
      "name": "CONTACTS DATA EITHER WE CAN ASK OR WE CAN ADD",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        352,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F3do6oWDMGmWXLRp",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sasanknadiuvinnakota787@gmail.com",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        128
      ],
      "id": "b92b9466-0623-4a3f-9ce9-3680cad27d4b",
      "name": "CREATE AN EVENT AND SCHEDULE MEETING",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CzLIbiT2CBkqAUvM",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "TAKE MESSAGE HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RESEARCH AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RESEARCH AGENT": {
      "ai_tool": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TAKE MESSAGE HERE": {
      "main": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND A GMAIL TO PARTICULAR PERSON": {
      "ai_tool": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CONTACTS DATA EITHER WE CAN ASK OR WE CAN ADD": {
      "ai_tool": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE AN EVENT AND SCHEDULE MEETING": {
      "ai_tool": [
        [
          {
            "node": "Supervisor AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "redactionPolicy": "all"
  },
  "versionId": "9694870e-2774-41d4-abf0-a33d16a047cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "170bffe03892aec785416088494fcd023904e0fde1df53244750df62c7b1ede8"
  },
  "id": "V9FWEsic0aHNv7OS",
  "tags": []
}
